<p><strong>Name: </strong><%= @attraction.name %></p>
<p><strong>Total Number of Users: </strong><%=  @attraction.users.count %></p>
<p><strong>Ticket Requirement: </strong><%=  @attraction.users.count %></p>
<p><strong>Height Requirement: </strong><%=  @attraction.users.count %></p>
<p><strong>Nausea Rating: </strong><%=  @attraction.users.count %></p>
<p><strong>Happiness Rating: </strong><%=  @attraction.users.count %></p>
